<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="xdebug.mode" value="coverage" />
        <env name="XDEBUG_MODE" value="coverage" />
    </php>

    <testsuites>
        <testsuite name="Slash Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./docs/</directory>
            <directory suffix=".php">./output/</directory>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="test-coverage" lowUpperBound="50" highLowerBound="70" />
        <log type="coverage-clover" target="coverage.xml" />
    </logging>
</phpunit>
